.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(77, 124, 138);
}

.sidebar {        
    padding: 1em;
}

.main {   
    padding: 1em;
}

footer {
    background: #476A6F;
    color: white;
    padding: 1em;
    text-align: center;
}



.sidebarL {
    width: 25%;
    float: left;    
}

.main {
    width: 50%;
    float: left;   
}

.sidebarR {
    width: 25%;
    float: right;  
    display: flex;
    justify-content: center;
}

.footer {
    clear: both;
}

/*needs styling and media screen */
header{
    background-color: rgb(77, 124, 138);
    text-align: center;
}
ul{
    list-style: none;
}
li{
    padding:14px
}
img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    max-width: 190px;
}


/*