*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: lightgray;
}
.centerbox{
    border: 2px solid red;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 141, 35);
}
ul{
    list-style: none;
}
li{
    margin:30px;    
}
li a{
    text-decoration: none;
    color: rgb(46, 88, 194);    
}
a:hover{
    color: black;
}


/*--- Some Extra Styling for fun  --*/

